@import './_mixins.scss';

svg.cruz{
    @include dim(42px, 42px);
    padding: 12px;
    box-sizing: border-box;
    filter: brightness(0.6) saturate(2) contrast(4);

    &:hover{
        cursor: pointer;
        filter: brightness(0.5) saturate(2) contrast(4);
    }
}