@import './_mixins.scss';

$headerHeight: 64px;

@mixin inTypeIconDescription(){
    @include dim(100%, $headerHeight * 0.5);
    padding: $headerHeight * 0.125 * 0.5;
    > span{ margin: auto $headerHeight * 0.125; }
}

header{
    z-index: 1;
    position: relative;
    @include dim(100dvw, $headerHeight * 1.5);

    > svg#abobada{
        position: absolute;
        @include position($vertical: 0, $horizontal: 0);

        > path:first-child{
            fill: white;
        }

        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
    }

    > div{
        position: relative;
        @include dim(100%, $headerHeight);
        display: flex;
        flex-direction: row;

        
        > nav{
            position: relative;
            @include dim(auto, 100%);
            > svg#pokebola{
                aspect-ratio: 1 / 1;
                height: 100%;
                padding: 12px;
                box-sizing: border-box;
                filter: brightness(0.87) saturate(1.2) contrast(1.4);
            }
        }

        > div#themeSelector {
            position: relative;
            margin: $headerHeight * 0.25 0 0 10%;
            

            > div#themeSelected{
                z-index: 1;
                position: relative;
                @include whiteRoundCorner($headerHeight * 0.25);
                @include dim(100%, fit-content);

                > div#themeBar.typeIconDescription{
                    @include inTypeIconDescription();
                    padding: $headerHeight * 0.125 * 0.5;
                    margin: 0 $headerHeight * 0.125 * 0.5 0 $headerHeight * 0.125 * 0.5;
                }

                &:hover{
                    cursor: pointer;

                    img{
                        filter: brightness(0.75);
                    }
                }

                &.clicked{
                    filter: brightness(0.75);
                }
            }

            > ul#themeSpinner{
                @include dim(fit-content, auto);
                @include whiteRoundCorner($headerHeight * 0.125);
                max-height: 0;
                padding: 0 $headerHeight * 0.125 * 0.5 0 $headerHeight * 0.125 * 0.5;

                margin-top: $headerHeight * 0.125;

                transition: max-height 200ms;

                &.show{
                    max-height: 100dvh;
                    padding: $headerHeight * 0.125 * 0.5;
                }

                overflow: hidden;

                > li{
                    @include inTypeIconDescription();
                    background-color: unset;
                    border-radius: $headerHeight * 0.25;

                    &:not(:first-child){
                        margin-top: $headerHeight * 0.125 * 0.5;
                    }

                    &:hover:not(.selecionado){
                        cursor: pointer;
                        filter: brightness(0.75);
                        background-color: rgba(0, 0, 0, 0.2);
                    }

                    &.selecionado{
                        cursor: default;
                        filter: brightness(0.75);
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }
}