@import './_mixins.scss';

$headerHeight: 64px;


header{
    z-index: 1;
    position: relative;
    @include dim(100dvw, $headerHeight * 1.5);

    > svg#abobada{
        position: absolute;
        @include position($vertical: 0, $horizontal: 0);

        > path:first-child{
            fill: white;
        }

        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
    }

    > nav{
        position: relative;
        @include dim(100%, 3dvw);
        display: flex;
        flex-direction: row;

        
        
        > a#pokebola{
            @include dim(auto, 100%);
            aspect-ratio: 1 / 1;
            position: absolute;
            @include position(
                $vertical: 50%,
                $horizontal: 50%
            );
            translate: -50% -50%;
            > svg{
                @include dim(auto, 100%);
                position: absolute;
                @include position(
                    $vertical: 0,
                    $horizontal: 0
                );
                aspect-ratio: 1 / 1;  
                padding: 6px;
                height: 100%;
                box-sizing: border-box;
                filter: brightness(0.87) saturate(1.2) contrast(1.4);

                transition: scale 300ms;
                
            }

            &:hover > svg{
                scale: 0.9;
            }

            &:hover > svg:first-child{
                filter: brightness(1) saturate(3) contrast(2) blur(2px) !important;
                opacity: 0.8;
            }
        }
        
    }
}