@import './_mixins.scss';

$headerHeight: 64px;


header{
    z-index: 1;
    position: relative;
    @include dim(100dvw, $headerHeight * 1.5);

    > svg#abobada{
        position: absolute;
        @include position($vertical: 0, $horizontal: 0);

        > path:first-child{
            fill: white;
        }

        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
    }

    > div{
        position: relative;
        @include dim(100%, $headerHeight);
        display: flex;
        flex-direction: row;

        
        > nav{
            position: relative;
            @include dim(auto, 100%);
            > svg#pokebola{
                aspect-ratio: 1 / 1;
                height: 100%;
                padding: 12px;
                box-sizing: border-box;
                filter: brightness(0.87) saturate(1.2) contrast(1.4);
            }
        }
    }
}