@import './_mixins.scss';


div#interface{
    @include centrado_absolute();
    @include dim(80dvw, 75dvh);
            @media (max-height: 1000px) or (max-width: 1350px){ @include dim(80dvw, 75dvh); };
            @media (max-width: 900px){ @include dim(92dvw, 85dvh); };

    display: flex;
    flex-direction: row;
    gap: 60px;
        @media (max-height: 700px) or (max-width: 1350px){ gap: 26px; };
        @media (max-width: 600px){ gap: 10px; };





    > div.showMobile{
        @include dim(36px, 36px);
        &#filterIcon{
            position: relative;
            &:hover{
                cursor: pointer;
                > svg path {fill: rgb(120, 120, 120) !important;}
            }
            > svg{
                width: 100%;
                height: auto;
                padding: 6px;
                box-sizing: border-box;
                position: absolute;

                &:first-child{
                    filter: brightness(0.4) saturate(10) contrast(10) blur(8px);
                    opacity: 1;
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    > div#PkmnList{
        $sizeNavigateItems: 32px;
        @include dim(auto, 100%);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 60px;

        @media (max-height: 1000px) or (max-width: 1350px){ gap: 30px };

    
        > ol#PkmnGrid{
            @include dim(100%, calc(75dvh - 60px - $sizeNavigateItems));
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 30px;

                    @media (max-height: 720px) or (max-width: 1600px){
                        grid-template-columns: repeat(4, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                    }

                    @media (max-width: 1000px){
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(3, 1fr);

                        gap: 12px;
                    }

                    @media (max-width: 670px){
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(3, 1fr);
                    };



            &:has( > li:hover) > li:not(:hover){
                filter: brightness(0.7);
            }

            > li{
                position: relative;
                @include dim(100%, 100%);
                border-radius: 20px;
                overflow: hidden;
                transition: background 200ms;
                box-shadow: rgba(0, 0, 0, 0.2) 0 0 30px;

                transition: scale 300ms, filter 600ms;

                

                > a{
                    position: relative;
                    all: unset;

                    > div.backgroundBranco{
                        position: absolute;
                        @include dim(100%, 100%);
                        @include position($vertical: 0, $horizontal: 0);
                        background-color: white;
                        opacity: 1;
                        transition: opacity 200ms;
                    }

                    > div.pkmnCardData{
                        z-index: 1;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        @include dim(100%, 100%);
                        box-sizing: border-box;
                        padding: 12px;

                                @media (max-height: 720px) or (
                                    (max-width: 1600px) and (max-height: 790px)
                                ){ padding: 0px 4px 12px 4px; }
                                @media (max-width: 1000px){ padding: 0px 4px 8px 4px; };
                                @media (max-width: 850px){ padding: 8px 2px; };
                                @media (max-width: 670px){ padding: 0 2px 6px 2px; };

                        > div.pkmnCardImage{
                            @include dim(100%, auto);
                            margin: 0 auto;
                            aspect-ratio: 1 / 1;
                            background-position: 50% 50%;
                            background-size: cover;

                                    @media (max-height: 770px) or (max-width: 1600px){ @include dim(85%, auto); }
                                    @media (max-width: 1600px) and (max-height: 790px){ @include dim(70%, auto); }
                                    @media (max-height: 720px){ @include dim(55%, auto); }
                                    @media (max-height: 700px) or (max-width: 1350px){ @include dim(100%, auto); };
                                    @media (max-width: 1000px){ @include dim(80%, auto); };
                                    @media (max-width: 670px){ @include dim(65%, auto);};
                                    @media (max-width: 670px){ @include dim(65%, auto);};
                        }

                        > div.pkmnCardInfo{
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            > h3, h4{
                                text-shadow: rgba(0, 0, 0, 0.3) 0 0 26px;
                            }

                            > h3{
                                text-transform: capitalize;
                                margin: 6px 0;
                            }

                            > h4{

                            }
                        }
                    }

                    > svg{
                        position: absolute;
                        bottom: 0;
                        transform-origin: center bottom;
                        animation: outScaleSVG 200ms ease-in-out forwards;
                    }

                    @keyframes outScaleSVG {
                        0%{ scale: 2; }
                        100%{ scale: 1; }
                    }

                    @keyframes hoverScaleSVG {
                        0%{ scale: 1; }
                        50%{ scale: 1.5; }
                        100%{ scale: 1.2; }
                    }

                }


                &:hover{
                    scale: 1.07;
                    cursor: pointer;
                    div.backgroundBranco{ opacity: 0; }

                    svg{
                        animation: hoverScaleSVG 500ms ease-in-out forwards;
                        > path{ transition: fill 200ms; }
                    }

                    div.pkmnCardImage{ @include hoverTranslateImageAnimation(); }
                }
            }
        }
    }

    > form#pkmnFilters{
        min-width: 200px;
        @include whiteRoundCorner(20px);
        padding: 18px;
        box-sizing: border-box;
        display: block;

                @media (max-width: 1200px){
                    position: absolute;
                    @include position(
                        $vertical: 0,
                        $horizontal: 0
                    );
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: opacity 300ms;
                };

        > svg.cruz{
            position: absolute;
            top: 0;
            right: 0;
        }
        > button#submit{
            display: none;
        }

        > fieldset{
            margin: 0;
            padding: 0;
            border: none;
        
            > input#pesquisaNome{
                outline: none;
                border: none;
                @include whiteRoundCorner(100px);
                
                padding: 6px;

                font-family: 'Lato', sans-serif;

                width: 100%;
            }

            > ul#orderBy{
                display: flex;
                gap: 12px;
                margin-top: 12px;

                > li{
                    
                    border: none;
                    padding: 6px 12px;
                    @include whiteRoundCorner(20px);
                    box-shadow: none;
                    outline: rgba(0, 0, 0, 0.05) 3px solid;

                    > input{
                        display: none;
                    }

                    &:hover{
                        cursor: pointer;
                        filter: brightness(0.77) saturate(2) contrast(1.2) !important;
                    }
                    
                }
            }

            > ol#genSelectors{
                gap: 12px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                margin-top: 12px;

                > li{
                    @include whiteRoundCorner(20px);
                    box-shadow: none;
                    outline: rgba(0, 0, 0, 0.05) 3px solid;
                    padding: 6px;
                    text-align: center;

                    > input{
                        display: none;
                    }

                    &:hover{
                        cursor: pointer;
                        filter: brightness(0.77) saturate(2) contrast(1.2) !important;
                    }

                    &.nope{
                        animation: nope 300ms linear;
                        background: rgb(240, 6, 84) !important;
                    }

                    @keyframes nope {
                        0%, 40%, 80%{ translate: -5px 0; }
                        20%, 60%, 100%{ translate: 5px 0; }
                    }

                }
            }
        }
    }
}